 <launch>
 <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
   <remap from="cmd_vel" to="kbot/base_controller/cmd_vel"/>
   <remap from="odom" to="kbot/base_controller/odom"/>
    <rosparam file="$(find kbot_2nav)/param/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find kbot_2nav)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find kbot_2nav)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find kbot_2nav)/param/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find kbot_2nav)/param/base_local_planner_params.yaml" command="load" />
 </node>
 </launch>
